:root {
  --primary: #3F3C9A;
  --secondary: #FE3C44;
  --red: #E83924;
	--light-grey: rgba(242, 242, 252, 0.5);
}

html,
body {
  font-family: Inter, sans-serif;
}


a {
  color: inherit;
  text-decoration: none;
  -webkit-tap-highlight-color: transparent;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  -webkit-tap-highlight-color: transparent;
}


.float {  
	animation: float 3s ease-in-out infinite;
}

@keyframes float {
	0% {
		transform: translate(0, 2.5px);
	}
	50% {
		transform: translate(0, -2.5px);
	}
	100% {
		transform: translate(0, 2.5px);
	}
}

